html body {
    background: var(--token-796ee79d-fa4e-4408-bc78-57c89a70fe0d, rgb(2, 2, 2));
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section{
  background:#000;
}

.header,
.footer{
  background:#0a0a0a;
}

.card{
  background:#111;
  border-radius:10px;
}

.parallax {
  /* The image used */
  background-image: url('../images/black_image.jpg');

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
}
.parallax .title {
  color: white;
  font-size: 90px;
  font-weight: bold;
  padding-left: 100px;
  padding-top: 250px;
}

.parallax span {
  color: #898989;
  font-size: 90px;
  font-weight: bold;
  display: block;
}

.parallax .btn {
  display: block;
  margin: 0 auto 100px auto;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 28px;
  align-self: flex-start;
  margin-left: 100px;
}

.parallax .btn:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
} 

.about-section {
  background-color: #121212;
  color: #fff;
  padding: 50px 0;
}

.intro-title{
  font-size: 42;
  font-weight: 800;
  color: #fff;
  text-align: left;
}
.intro-about{
  background-color:#000;
  padding-top: 120px;
}

.intro-excerpt{
  color: #fff;

}
.dsn-word-wrapper{
  font-size: 120px;
  color: #fff;

}
.dsn-active{
  font-size: 18px;
}
.img-container img{
  width: 100%;
}
.services{
  padding-top: 120px;
  background-color: #000;
}
.title-sub{
    color: rgba(255, 255, 255, 0.69);
    font-family: "Montserrat", sans-serif;
}
.title-sub {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-transform: uppercase;
    position: relative;
    padding-left: 80px;
}
.services-item{
  position: relative;
  text-align: center;
  padding: 50px 45px;
}
.services-item.selected {
  background: #090909;
}
.services-item .icon{
  padding: 50px;
}
.services-item .icon img{
  width: 25%;
}

.services-item p{
  color: #898989;
}
.footer{
      padding: 0 50px 30px;
}

.footer .copyright{
  padding-top: 30px;
  font-size: 14px;
  letter-spacing: 2.67px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright p{
  color: rgba(194, 194, 194, 0.6);
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 1.6;
  font-variant-numeric: proportional-nums;
  font-family: "Montserrat", sans-serif;
}

.footer .footer-links{
  padding-top: 80px;
  padding-bottom: 80px;
}

.p-relative{
  position: relative !important;
}

.footer-logo p{
  color: #898989;
  font-size: 24px;
  font-weight: 900;
}

.footer-social{
  margin-top: 20px;
}

.footer-social ul li{
  display: inline-block;
  list-style: none;
  margin-right: 5px;
}

.footer-social ul li a{
  position: relative;
  color: #fff;
  border-radius: 50%;
  letter-spacing: 0;
  border: 1px solid rgba(255, 255, 255, 0.07);
  height: 40px;
  width: 40px;
  line-height: 35px;
  text-align: center;
}

.footer .footer-title{
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.footer .footer-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15px;
  height: 2px;
  background-color: #fff;
}

.footer .footer-block .col-contact p{
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer .footer-block .col-contact p strong{
  color: #fff;
}

.footer .footer-block .col-contact p{
  margin-right: 5px;
  margin-left: 5px;
}
footer a, footer p {
    color: rgba(194, 194, 194, 0.6);
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.6;
    font-variant-numeric: proportional-nums;
    font-family: "Montserrat", sans-serif;
}

.parallax-box {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
  pointer-events: none;
  z-index: 2;
}

.box-seat{
  position: relative;
}

.box-seat .inner-img{
  height: 100vh;
  overflow: hidden;
}

.box-seat .inner-img img {
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}
.box-seat.box-seat-full .pro-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: rgba(13, 13, 13, 0.7);
    height: 100%;
    top: 0;
}
.box-seat .pro-text {
    position: absolute;
    background-color: #0d0d0d;
    max-width: 600px;
    padding: 80px;
    right: 80px;
    bottom: -80px;
}

.box-seat .pro-text p {
    margin-left: 70px;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.69);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.box-seat .pro-text h3 {
    font-size: 35px;
}

/* Our Work*/
.section-margin {
    margin-top: 120px;
    margin-bottom: 120px;
}

.one-title .title-sub-container .title-sub {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-transform: uppercase;
    position: relative;
    padding-left: 80px;
}
.one-title .title-sub-container .title-sub:before {
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}
.one-title .title-sub-container .title-sub:after {
    left: 15px;
    height: 1px;
    width: 52px;
    background: rgba(233, 233, 233, 0.1);
}
.one-title .title-main{
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.01em;
}
.work-under-header{
  position: relative;
  overflow: hidden;
}
.one-title{
  width: 620px;
  margin-bottom: 70px;
}

.one-title .title-sub-container{
  padding-left: 50px;
  margin-bottom: 20px;
}



.work-item img{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.work-item:hover img{
  opacity: .5;
} 

/* .our-work .work-item {
    height: 70vh;
    margin: 0 15px;
} */

.work-item{
  width: 600px;
  height: 800px;
  border: none;
  margin: 0 15px;
}
.work-item img {
  /* max-width: 100%;
  height: auto; */
  
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  object-position: 15% 100%; 
}

